html {
  overflow: hidden;
}

body {
  -webkit-app-region: drag;
  height: 100vh;
  width: 100%;
  background-color: #363636;
}

#root {
  height: 100%;
}

.overlay {
  display: flex;
  height: 100%;
}

.overlay__item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  color: white;
}

.overlay__sessionTimeToggle,
.overlay__huntingSet .overlay__value,
.overlay__loggingToggle .overlay__value {
  -webkit-app-region: no-drag;
}

.overlay__sessionTimeToggle .icon{
  height: 0;
}

.overlay__huntingSet .overlay__value {
  position: relative;
}

.overlay__huntingSet select {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay__loggingToggle .overlay__value,
.overlay__sessionTime .overlay__sessionTimeToggle {
  cursor: pointer;
}

.overlay__loggingToggle,
.overlay__sessionTime {
  flex: 0;
  flex-direction: row;
}
.overlay__loggingToggle .overlay__label,
.overlay__sessionTime .overlay__label {
  display: none;
}
.overlay__loggingToggle .overlay__value,
.overlay__sessionTime .overlay__value {
  padding: 0 8px;
}

.overlay__value,
.overlay__label {
  width: 100%;
  text-align: center;
}

.overlay__label {
  font-size: 0.75rem;
}

.overlay__value {
  flex: 1;
  font-size: 0.875rem;
  font-weight: 700;
}
