:root {
  --color-bg: #f5f5f5;
  --color-success: #48c78e;
  --color-danger: #f14668;

  --nav-bg: #ffffff;
  --nav-item-color: #4a4a4a;
  --nav-item-active-color: #3273dc;
  --nav-item-hover-color: #485fc7;
  --nav-item-hover-bg: #fafafa;
  --nav-brand-color: #4a4a4a;

  --sidebar-bg: #363636;
  --sidebar-headline-color: #ffffff;
  --sidebar-text-color: #f5f5f5;
  --sidebar-hover-text-color: #363636;
  --sidebar-hover-bg: #ffffff;

  --main-text-color: #363636;
  --main-border-color: #dbdbdb;
  --main-focus-color: #485fc7;
  --main-focus-box-shadow: rgba(72, 95,199, 0.01);
  --main-link-color: #485fc7;
  --main-link-hover-color: #363636;

  --tooltip-bg: #ffffff;
  --tooltip-border: #cccccc;

  --tabs-text-color: #4a4a4a;
  --tabs-hover-text-color: #363636;
  --tabs-active-text-color: #485fc7;
  --tabs-border-color: #dbdbdb;
  --tabs-hover-border-color: #363636;
  --tabs-active-border-color: #485fc7;

  --box-bg: #ffffff;
  --statbox-bg: #f5f5f5;

  --table-bg: transparent;
  --table-border-color: #dbdbdb;
  --table-row-hover-bg: #fafafa;

  --modal-header-bg: #f5f5f5;
  --modal-body-bg: #ffffff;

  --textarea-bg: #ffffff;
  --textarea-border-color: #b5b5b5;
  --textarea-text-color: #363636;
  --textarea-placeholder-color: #363636;

  --input-placeholder-color: #808080;
  --input-icon-placeholder-color: #808080;

  --checkbox-hover: #363636;
}

.dark {
  --color-bg: #505050;
  --color-success: #48c78e;
  --color-danger: #f14668;

  --nav-bg: #2b2b2b;
  --nav-item-color: #aaaaaa;
  --nav-item-active-color: #ffffff;
  --nav-item-hover-color: #4a4a4a;
  --nav-item-hover-bg: #fafafa;
  --nav-brand-color: #ffffff;

  --sidebar-bg: #363636;
  --sidebar-headline-color: #ffffff;
  --sidebar-text-color: #f5f5f5;
  --sidebar-hover-text-color: #363636;
  --sidebar-hover-bg: #ffffff;

  --main-text-color: #ffffff;
  --main-border-color: #757575;
  --main-focus-color: #000000;
  --main-focus-box-shadow: rgba(72, 72, 72, 0.01);
  --main-link-color: #aaaaaa;
  --main-link-hover-color: #ffffff;

  --tooltip-bg: #505050;
  --tooltip-border: #cccccc;

  --tabs-text-color: #ffffff;
  --tabs-hover-text-color: #ffffff;
  --tabs-active-text-color: #ffffff;
  --tabs-border-color: #818181;
  --tabs-hover-border-color: #ffffff;
  --tabs-active-border-color: #ffffff;

  --box-bg: #363636;
  --statbox-bg: #505050;

  --table-bg: transparent;
  --table-border-color: var(--main-border-color);
  --table-row-hover-bg: #505050;

  --modal-header-bg: #202020;
  --modal-body-bg: #363636;

  --textarea-bg: #505050;
  --textarea-border-color: #2b2b2b;
  --textarea-text-color: #ffffff;
  --textarea-placeholder-color: #ffffff;

  --input-placeholder-color: #808080;
  --input-icon-placeholder-color: #808080;

  --checkbox-hover: #aaaaaa;
}

html, body {
  background: transparent;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

/* Use OS default fonts */
body {
  background-color: var(--color-bg);
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-feature-settings: 'liga', 'clig', 'kern';
  text-rendering: optimizeLegibility;
}

a {
  color: var(--main-link-color);
}

a:hover {
  color: var(--main-link-hover-color);
}


/* Helpers */

.flex-center {
  display: flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}

.vert-align-middle {
  vertical-align: middle !important;
}

.vert-align-icon {
  vertical-align: bottom !important;
}


/* Navbar */

.navbar {
  background-color: var(--nav-bg);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  min-height: 2.25rem;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch;
  display: flex;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-brand .navbar-item {
  color: var(--nav-brand-color);
}

.navbar-item,
.navbar-link {
  color: var(--nav-item-color);
  display: flex;
  align-items: center;
}

a.navbar-item:hover {
  background-color: var(--nav-item-hover-bg);
  color: var(--nav-item-hover-color);
}

.navbar-brand {
  font-weight: 500;
  min-height: 2.25rem;
}

.navbar-menu {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

.navbar .active,
a.navbar-item:focus {
  color: var(--nav-item-active-color);
  background-color: transparent;
}


/* Sidebar */

.sidebar {
  background-color: var(--sidebar-bg);
  height: calc(100vh - 2.5rem);
  margin-top: 2.5rem;
  padding: 0 10px 10px;
  top: 0;
  bottom: 0;
  position: relative;
  width: 240px;
}

.sidebar.mini {
  width: 50px;
}

.sidebar.mini .menu {
  display: none;
}

.sidebar.mini .menu-mini {
  display: block;
}

.sidebar-toggle {
  position: absolute;
  bottom: 10px;
  left: 15px;
  transform: translateX(0%);
  color: var(--sidebar-text-color);
  cursor: pointer;
  font-size: 1.25rem;
}

.sidebar.mini .sidebar-toggle {
  left: 50%;
  transform: translateX(-50%);
}


/* Sidebar Menu */

.sidebar .menu .title {
  color: var(--sidebar-headline-color);
  font-size: 1.75rem;
}

.sidebar .menu-list a,
.sidebar .menu-list a.is-active:hover {
  color: var(--sidebar-text-color);
  position: relative;
}

.sidebar .menu-list a:hover {
  color: var(--sidebar-hover-text-color);
}

.sidebar .menu-list .tag {
  top: 0;
  right: 10px;
  position: absolute;
  transform: translateY(25%);
}

.sidebar .menu-mini {
  display: none;
}

.sidebar .menu-mini li {
  text-align: center;
}

.sidebar .menu-mini i {
  color: var(--sidebar-text-color);
  font-size: 1.5rem;
}

.sidebar .menu-mini i.active {
  color: var(--color-success) !important;
}

.sidebar .menu-mini i.inactive {
  color: var(--color-danger) !important;
}

.sidebar .menu-mini .is-active i,
.sidebar .menu-mini i:hover {
  color: var(--sidebar-hover-text-color);
  background-color: var(--sidebar-hover-bg);
  border-radius: 2px;
  padding: 2px;
}


/* Content */

.main-content,
.settings-content {
  color: var(--main-text-color);
  flex: 1;
  margin-top: 2.5rem;
  max-height: calc(100vh - 2.5rem);
  overflow: auto;
  padding: 0 12px 65px;
}

.settings-content {
  height: 100vh;
}

.main-content div,
.main-content strong,
.main-content .title,
.main-content .label,
.main-content .table,
.settings-content div,
.settings-content strong,
.settings-content .title,
.settings-content .label {
  color: var(--main-text-color);
}

.tabs ul {
  border-bottom-color: var(--tabs-border-color);
}

.tabs a {
  border-color: var(--tabs-border-color);
  color: var(--tabs-text-color);
}

.tabs a:hover {
  border-bottom-color: var(--tabs-hover-border-color);
  color: var(--tabs-hover-text-color);
}

.tabs li.is-active a {
  border-bottom-color: var(--tabs-active-border-color);
  color: var(--tabs-active-text-color);
}

.box {
  background-color: var(--box-bg);
}

.block-top {
  margin: 1.125rem 0 1.25rem !important;
  height: 30px;
}

.block-top > .title {
  margin-bottom: 0;
}

.block-top.with-margin > .title {
  margin-bottom: 1.5rem;
}

.session-name .title .icon {
  cursor: pointer;
}

.session-name .control .icon {
  pointer-events: initial;
}

.icon > i {
  font-size: 1rem;
}

code.current-log {
  background: none;
}

.info-box .tile-toplevel {
  margin: 0 auto;
  max-width: 1100px;
}

.statboxes-wrapper {
  margin: -0.75rem;
}

.statbox {
  background-color: var(--statbox-bg);
  text-align: center;
  width: 100%;
  padding: 1rem;
  position: initial;
}

.statbox .title {
  margin-bottom: 0.5rem;
}

span.sum {
  font-weight: 500;
}

.stats-heal-table {
  margin-top: 0.75rem;
  margin-bottom: -0.75rem;
}

.inline-label {
  margin: 0 1rem 0 0 !important;
}


/* Modals */

.modal div,
.modal .title,
.modal .modal-card-title {
  color: var(--main-text-color);
}

.modal.wide-modal .modal-card {
  width: 85%;
}

.modal .modal-card-head {
  background-color: var(--modal-header-bg);
  border-color: var(--main-border-color);
}
.modal .modal-card-body {
  background-color: var(--modal-body-bg);
}


/* Tables */

.table {
  background-color: var(--table-bg);
}

.table td,
.table th {
  color: var(--main-text-color) !important;
  border-color: var(--table-border-color) !important;
}

.table.is-hoverable tbody tr:not(.is-selected):hover {
  background-color: var(--table-row-hover-bg);
}

.table-action {
  padding-left: 5px;
}

.has-text-right .table-action:first-child {
  padding-left: 0;
}

.small-locked-size {
  width: 175px;
}

.calc-col-width {
  width: 300px;
}


/* Graphs */

.x-axis-ticks,
.recharts-cartesian-axis-tick-value {
  font-size: 0.75rem;
}

.graph-tooltip {
  background-color: var(--tooltip-bg);
  border: 1px solid var(--tooltip-border);
  margin: 0px;
  padding: 10px;
  white-space: nowrap;
}

.graph-tooltip-label {
  color: #555;
}

.dark text.recharts-text.recharts-cartesian-axis-tick-value,
.dark text.x-axis-ticks {
  fill: #ffffff;
}

.dark line.recharts-reference-line-line {
  stroke: white;
}

.dark .recharts-curve.recharts-area-area {
  fill: #000;
}

.dark .recharts-curve.recharts-area-area,
.dark .recharts-curve.recharts-area-curve {
  stroke: #fff;
}

.dark .recharts-cartesian-grid line {
  stroke: #222222;
}


/* Forms */

textarea.textarea {
  background-color: var(--textarea-bg);
  border-color: var(--textarea-border-color);
  color: var(--textarea-text-color);
}

textarea.textarea:focus {
  border-color: var(--main-focus-color);
  box-shadow: 0 0 0 0.125em var(--main-focus-box-shadow);
}

textarea.textarea::placeholder {
  color: var(--textarea-placeholder-color);
}

input.input::placeholder {
  color: var(--input-placeholder-color);
}

.control.has-icons-left .icon,
.control.has-icons-right .icon {
  color: var(--input-icon-placeholder-color);
}

.checkbox:hover {
  color: var(--checkbox-hover);
}


/* Settings */

.column-250 {
  max-width: 250px;
}

.help-inline {
  display: inline;
  font-size: .75rem;
  line-height: 1.25;
  margin-left: 5px;
}
